header {
    background-color: var(--primary-color);
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;

}

.header-nav {
    width: 850px;
}

.header-text {
    padding-top: 10px;
    text-align: center;
}

.animated-text h2 {
    font-size: 48px;
    /* color: var(--main-brand-color); */
    font-weight: 700;
    background: linear-gradient(90deg, transparent, var(--main-brand-color), var(--main-brand-color));
    background-size: 200%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: fillText 8s linear infinite;
}

.circle {
    height: 350px;
    width: 350px;

    max-height: 80vw;
    max-width: 80vw;

    overflow: hidden;
    border-radius: 50%;
    border: 7px solid var(--main-brand-color);

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.circle img {
    width: 100%;
    height: 100%;
    object-position: center;
}

nav {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    gap: 30px;

}

nav a {
    color: var(--secondary-text-color);
    text-decoration: none;
    position: relative;
}

nav a:hover {
    color: var(--text-color);
}

nav a::after {
    content: '';
    height: 2px;
    width: 0%;
    background: var(--main-brand-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 250ms ease-out;
}

nav a:hover::after {
    width: 100%;
}

#toggle_button {
    display: none;
}

label[for="toggle_button"] .menu-icon {
    display: none;
}

label[for="toggle_button"] .close-icon {
    display: none;
}

label[for="toggle_button"] span {
    font-size: 40px;
}

@keyframes fillText {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

@media(max-width: 900px) {
    nav {
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--secondary-color);
        padding: 10px;
        border-radius: 0 0 0 25px;
    }

    nav ul {
        display: none;
        flex-direction: column;
    }

    label[for="toggle_button"] .menu-icon {
        display: inline;
    }

    #toggle_button:checked~ul {
        display: flex;
    }

    #toggle_button:checked~label[for="toggle_button"] .menu-icon {
        display: none;
    }

    #toggle_button:checked~label[for="toggle_button"] .close-icon {
        display: inline;
    }

    label[for="toggle_button"] {
        display: block;
        text-align: end;
        cursor: pointer;

    }

    header {
        flex-direction: row;

    }

    .header-text span {
        font-size: 45px;
    }

    .circle {
        height: 250px;
        width: 250px;
    }
}

@media(max-width: 350px) {
    .header-text h1 {
        font-size: 35px;
    }

    .header-text h2 {
        font-size: 35px;
    }
}