#about_me_section {
    background-color: var(--secondary-color);
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_me_container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 10px;
    gap: 50px;
    flex-wrap: wrap;

}

.about_me_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: left;
}

.about_me_content_line {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: var(--primary-color);
    border-radius: 10px;
    flex-wrap: wrap;
    min-height: 50px;
}

.about_me_content_line span {
    margin-right: 10px;
    font-size: 24px;
    width: 24px;
    height: 24px;
}

@media(max-width: 900px) {
    .about_me_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about_me_content {
        grid-template-columns: 1fr;
        gap: 5px;
        padding-top: 20px;
    }

    .about_me_title {
        text-align: center;
    }

    .about_me_content_line {
        margin: 10px;
    }
}